@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #171B1C;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
    height: 700px;
    position: relative;
}

header nav .left a {
    color: #FFF;
    text-decoration: none;
    margin-right: 2rem;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

header nav .left a:hover {
    color: #347572;
}

header nav {
    padding: 2rem 0;
}

.container {
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}

.hero {
    position: relative;
    margin-top: -34rem;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.hero .left img {
    width: 400px;
    background: #FFF;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.hero .right {
    color: #D7E0CE;
}

.hero .right h1 {
    font-size: 5rem;
    font-weight: 100;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.hero .right h1 span {
    color: #347572;
}

/* About Event */
section {
    padding: 6rem;
}

section.about h1 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}

section.about h1 span {
    color: #347572;
}

section.about p {
    color: #2B3035;
    line-height: 1.9rem;
    margin-bottom: 2rem;
}

/* Speaker cards */
section.speakers {
    background: #121617;
}

.speakers-head {
    text-align: center;
    margin-bottom: 12rem;
    line-height: 0.5rem;
    color: #347572;
}

.card img {
    width: 230px;
    background: #FFF;
    border: 3px solid #58a6a2;
    border-radius: 50%;
}

section.speakers .card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 2rem;
}

section.speakers .card-grid .card {
    background: #FFF;
    padding: 10rem 2rem 3rem;
    position: relative;
    text-align: center;
    transition: all 0.2s ease;
    border-radius: 0.5rem;
}

section.speakers .card-grid .card img {
    position: absolute;
    top: -6rem;
    left: 50%;
    transform: translateX(-50%);
}

section.speakers .card-grid .card h2 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

section.speakers .card-grid .card p {
    color: #2B3035;
    line-height: 1.6;
}

section.speakers .card-grid .card:hover {
    background: #347572;
}

section.speakers .card-grid .card:hover h2 {
    color: #FFF;
}

section.speakers .card-grid .card:hover p {
    color: #FFF;
}

/* Utilities */
.flex {
    display: flex;
}

.items-centre {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.btn {
    padding: 0.6rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.btn-primary {
    background-color: #347572;
    color: #D7E0CE;
    margin-top: -15rem;
}

.btn-primary:hover {
    background: transparent;
    border-color: #347572;
    color: #347572;
}

.flex-1 {
    flex: 1;
}

.btn-secondary {
    background: transparent;
    color: #347572;
    border-color: #347572;
}

.btn-secondary:hover {
    background: #347572;
    color: #D7E0CE;
}

.btn-speakers {
    margin-top: 3rem;
    padding: 1rem 4rem;
}
